<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
<crowd-form answer-format="flatten-objects">
    <div id="errorBox"></div>
    <crowd-keypoint
        id="annotator"
        labels = "['label']"
        src = ${Image}
        header="Place points left, above, right and under each Lego block with the same label. Please read the full instructions first."
        name="annotatedResult">

        <full-instructions header="Instructions">
            <p>Use the point tool to place points on the requested points of interest:</p>
            <ol>
                <li>Place the 4 keypoints on the left, right, top and bottom of the same block sequentially.</li>
                <li>Finish the 4 points for one block, before moving onto the next block.</li>
                <li>Place the dots for each block in the image before submitting.</li>
                <li>The dot should be placed with a maximum error of a few pixels, so please be accurate with the placement.</li>
                <li>Shadows are not part of the blocks.</li>
                <li>When a block is not enterily visible only put the dot on the parts that are visible.</li>
                <li>For each block make sure you use 4 points, no more, no less. </li>
            </ol>
        </full-instructions>

    <short-instructions>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FTask%20Decomposition%2FTask%20Draw&files=DDex1.PNG">Example 1</a>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FTask%20Decomposition%2FTask%20Draw&files=DDex2.PNG">Example 2</a>
        <div id="images"> </div>
    </short-instructions>

    </crowd-keypoint>
</crowd-form>