<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>

<crowd-form answer-format="flatten-objects">
    <div id="errorBox"></div>
    <crowd-keypoint
        id="annotator"
        src= ${Image}
        labels= "${Labels}"
        header="Place a point with the correct label in the center of an imaginary bounding box around each Lego block. Please read the full instructions first."
        name="annotatedResult">

        <full-instructions header="Instructions">
            <p>Use the point tool to place points on the requested points of interest:</p>
            <ol>
                <li>Put a dot with the correct label selected at the center of an imaginary bounding box around the lego piece.</li>
                <li>Use the correct label for each individual block.</li>
                <li>The dot should be placed with a maximum error of a few pixels, so please be accurate with the placement.</li>
                <li>Shadows are not part of the blocks.</li>
                <li>When a block is not enterily visible only put the dot on the center of what is visible.</li>
                <li>Multiple blocks with the same label could be in the image, tag all with the same label.</li>
                <li>Be aware that the color of the label has nothing to do with the color of the block.</li>
                <li>Label the blocks in the given order.</li>
            </ol>
        </full-instructions>

    <short-instructions>
        <div id="images"> </div>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FTask%20Decomposition%2FTask%20Label&files=DTex1.PNG">Example 1</a>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FTask%20Decomposition%2FTask%20Label&files=DTex2.PNG">Example 2</a>
    </short-instructions>

    </crowd-keypoint>
</crowd-form>