<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
<crowd-form answer-format="flatten-objects">
    <div id="errorBox"></div>

    <crowd-keypoint
        id="annotator"
        src= ${Image}
        labels= "${Labels}"
        header="Please place on the most extreme points left, above, right and under the Lego brick's keypoints with the correct label. Please read the full instructions first."
        name="annotatedResult">

        <full-instructions header="Instructions">
            <p>Use the point tool to place points on the requested points of interest:</p>
            <ol>
                <li>Put a dot with the correct label selected at the most extreme left, top, right and bottom point of the lego pieces.</li>
                <li>Do this for every block before submitting.</li>
                <li>Use the correct label for each individual block.</li>
                <li>The dot should be placed with a maximum error of a few pixels, so please be accurate with the placement.</li>
                <li>Shadows are not part of the blocks.</li>
                <li>When a block is not enterily visible only put the dot on the parts of the block that are visible, but always do use 4 points.</li>
                <li>Multiple blocks with the same label could be in the image, tag all with the same tag.</li>
                <li>For each block make sure you use 4 points, no more, no less. </li>
                <li>Be aware that the color of the label has nothing to do with the color of the block.</li>
                <li>Place the labels in the order they are provided.</li>
            </ol>
        </full-instructions>

    <short-instructions>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FMajority%20Vote&files=MJex1.PNG">Example 1</a>
        <a href="https://surfdrive.surf.nl/files/index.php/s/B7PEqFZSZZBPcW8/download?path=%2FExamples%2FMajority%20Vote&files=MJex2.PNG">Example 2</a>
        <div id="images"> </div>
    </short-instructions>

    </crowd-keypoint>
</crowd-form>